@import "tailwindcss";

:root {
  --background: #ffffff;
  --primary-text: #253238;
  /* --font-sans: var(--font-inter); */
}

@media (max-width: 768px) {
  .hero-heading {
    font-size: 50px;
  }
}

body {
  color: var(--primary-text);
  letter-spacing: -0.03em;
}
input,
textarea,
select {
  font-size: 16px ;
  color: #6C6C6C;
}

.floating {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.floating  {
  display: none;
}

@media (max-width: 640px) {
  .floating {
    display: flex;
    justify-content: center;
  }
}
input::placeholder,
textarea::placeholder,
select::placeholder {
  font-size: 16px ;
  color: #6C6C6C;
  opacity: 1 !important;
}
